---
import { Icon } from "astro-icon/components";
import Logo from "./Logo.astro";
import {
  getLabelByLocale,
  getLocaleFromOtherLocale,
  getLocaleRoute,
} from "../utils/i18n";
import LanguageSwitch from "./LanguageSwitch.astro";

const currentURL = Astro.url;

const cLocale = Astro.currentLocale ?? "es";
const dLocale = Astro.preferredLocale ?? "es";

const menuItemsByLocale = {
  es: {
    recent: "Posts más recientes",
    personal: "Personal",
    software: "Ing. de Software",
    arts: "Arte y Crafts",
    magick: "Magia(k) y Ocultismo",
    manifesto: "Manifiesto",
  },
  en: {
    recent: "Recent Posts",
    personal: "Personal",
    software: "Software Engineering",
    arts: "Arts and Crafts",
    magick: "Magick and Occultism",
    manifesto: "Manifesto",
  },
};

const menuItems = [
  {
    label: getLabelByLocale(cLocale, "recent", menuItemsByLocale, dLocale),
    icon: "fa-solid:newspaper",
    href: getLocaleRoute(cLocale, "/"),
  },
  {
    label: getLabelByLocale(cLocale, "personal", menuItemsByLocale, dLocale),
    icon: "fa-solid:feather",
    href: getLocaleRoute(cLocale, "/tag/personal/"),
  },
  {
    label: getLabelByLocale(cLocale, "software", menuItemsByLocale, dLocale),
    icon: "fa-solid:terminal",
    href: getLocaleRoute(cLocale, "/tag/software-engineering"),
  },
  {
    label: getLabelByLocale(cLocale, "arts", menuItemsByLocale, dLocale),
    icon: "fa-solid:stamp",
    href: getLocaleRoute(cLocale, "/tag/arts-and-crafts"),
  },
  {
    label: getLabelByLocale(cLocale, "magick", menuItemsByLocale, dLocale),
    icon: "fa-solid:moon",
    href: getLocaleRoute(cLocale, "/tag/magick/"),
  },
  {
    label: "",
    icon: "",
    href: "",
    divider: true,
  },
  {
    label: getLabelByLocale(cLocale, "manifesto", menuItemsByLocale, dLocale),
    icon: "fa-solid:bullhorn",
    href: getLocaleRoute(cLocale, "/manifesto"),
  },
];
---

<header x-data="{ open: false }">
  <div
    class="fixed bg-slate-900 w-full shadow-md p-4 overflow-hidden max-h-16 flex flex-row justify-between"
  >
    <Logo />
    <nav class="hidden md:flex flex-row">
      <ul class="flex flex-row gap-4 align-middle text-sm">
        {
          menuItems.map(({ divider, ...item }) =>
            divider ? (
              <div class="border-r-2" />
            ) : (
              <li>
                <a
                  href={item.href}
                  title={item.label}
                  class:list={[
                    "w-full p-2 flex flex-row gap-2 align-middle",
                    {
                      ["border-rose-700 border-b-2"]:
                        item.href === currentURL.pathname,
                    },
                  ]}
                >
                  <Icon name={item.icon} class="inline-block size-4" />
                  <span class="flex-grow
                   hidden lg:inline">{item.label}</span>
                </a>
              </li>
            )
          )
        }
      </ul>
      <div class="ml-4">
        <LanguageSwitch />
      </div>
    </nav>
    <button class="md:hidden" @click="open = ! open"
      ><Icon name="fa-solid:bars" class="size-8" /></button
    >
  </div>
  <nav
    class="fixed top-16 w-full bg-slate-900 border-t-2 border-slate-800 shadow-md p-4 md:hidden"
    x-show="open"
    x-transition
  >
    <ul>
      {
        menuItems.map(({ divider, ...item }) =>
          divider ? (
            <hr class="my-4" />
          ) : (
            <li>
              <a
                href={item.href}
                class:list={[
                  "w-full p-2 block",
                  { ["bg-rose-600"]: item.href === currentURL.pathname },
                ]}
              >
                <Icon name={item.icon} class="inline-block mr-2" />
                {item.label}
              </a>
            </li>
          )
        )
      }
    </ul>
    <div class="text-right mt-2">
      <LanguageSwitch />
    </div>
  </nav>
</header>
